.basket .spisok{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.basket .spisok .desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.basket .spisok .cart{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}
.basket .spisok .cart img{
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    border: 2px solid transparent;
    width: 240px;
    max-height: 240px;
}
  .basket .spisok .cart .panel{
    display: flex;
    gap: 10px;
}
.basket .panelinfo{
    max-width: 400px;
    width: 100%;
}
@media (max-width: 899px) {
    .basket .spisok .cart {
        flex-direction: column;
      }
}