.product .rews{
    display: flex;
    gap: 5px;
}
main.product .duo{
    gap: 20px;
}

.product .photoitem {
    display: flex;
    overflow-x: auto;
    overflow-wrap: normal;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 55vh;
    border-radius: 15px;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .product .photoitem .cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    min-width: 100%;
    scroll-snap-align: center;
    text-decoration: none;
    color: var(--color-font);
    height: 55vh;
    background: #f2f4f8;
  }

.product .photoitem .cart img{
    height: 100%;
  }
  
  .product .asd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: max-content;
  }
  
  .product .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 4px 10px 0 #0000ff59;
    padding: 20px;
    border-radius: 13px;
    min-width: 400px;
    min-height: 170px;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: var(--color-body-header);
  }
  
  .product .panel button {
    background-color:  var(--akcent);
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .product .rev{
    width: 100%;
  }

  .product .body {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
  }
  .product .postav {
    background-color: var(--akcent);
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    height: fit-content;
  }