.product .rews{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
main.product .duo{
    gap: 20px;
}

.product .photoitem {
    display: flex;
    overflow-x: auto;
    overflow-wrap: normal;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 55vh;
    border-radius: 15px;
    scroll-snap-type: x mandatory;
    flex-grow: 2;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
  
.product .photoitem .cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    min-width: 100%;
    scroll-snap-align: center;
    text-decoration: none;
    color: var(--color-font);
    height: 55vh;
}

.product .photoitem .cart img{
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    border: 2px solid transparent;  
    transition: transform 0.3s ease;
}
.product .photoitem .cart img:hover{
    transform: scale(1.2);
}
  
.product .asd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: max-content;
    flex-grow: 1;
}
.product .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 4px 10px 0 #0000ff59;
    padding: 20px;
    border-radius: 13px;
    max-width: 400px;
    min-height: 170px;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: var(--color-body-header);
}
.product .panel button {
    background-color:  var(--akcent);
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.product .rev{
    width: 100%;
}

.product .body {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
}
.product .postav {
    background-color: var(--akcent);
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    height: fit-content;
}
.product .fstart{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.reves{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 899px) {
    .reves{
        display: flex;
        flex-direction: column-reverse;
    }
.asd{
    width: 100%;
}
.rev .duo.b.fstart{
    flex-direction: column-reverse;
}
.product .postav {
    width: 100%;
}
.product .duo.b{
    flex-direction: row;
    align-items: baseline;
}
.product .body .duo.b{
    flex-direction: row;
}
.product .asd button {
    width: 100%;
    max-width: none;
  }
}
