@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.load .h4, .load .h5, .load .img{
background: linear-gradient(90deg, #f2f4f8, #f2f4f8, #ffffff, #f2f4f8);
animation: 0.8s shine linear infinite;
background-size: 200% 100%;
border-radius: 5px;
width: 100%;
min-height: 16px;
border: 2px solid transparent;
}

.load .h4{
min-height: 24px;
}
.load .h5{
min-height: 16px;
width: 80%;
}
.load .img{
min-height: 16px;
height: 200px;
}

@media (max-width: 899px) {
    .load .img {
        min-height: 16px;
        height: 180px;
    }
}
