@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-font: #212121;
  --color-body-bg: #ffffff;
  --color-body-header: #ffffff;
  --color-prf: #f2f4f8;
  --color-prf2: #c4c4c4;
  --akcent: #4E50FF;
  --red: #db0049;
}
@media (prefers-color-scheme: dark) {
  :root {
      --color-font: #ffffff;
      --color-body-bg: #1e1e1e;
      --color-body-header: #2d2d2d;
      --akcent: #4E50FF;
      --color-prf: #353535;
      --color-prf2: #555555;
    }
  .logo{
      filter: saturate(0);
  }
  .logo img{
      filter: invert(1);
  }
}

*{
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

html, body{
  margin: 0px;
}

main{
  min-height: 80vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
a{
  color: var(--color-font);
}
main.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main.centered img{
  max-width: 400px;
  width: 100%;
}
main a.bt, main button{
  background-color:  var(--akcent);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  width: 100%;
  max-width: 200px;
  text-align: center;
}
main .duo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
main .duo.r{
  flex-direction: row-reverse;
}
main .duo *{
  width: 50%;
}


@media (max-width: 899px) {
  main.centered img{
    max-width: 300px;
    width: 100%;
  }
  main .duo{
    flex-direction: column;
  }
  main .duo.r{
    flex-direction: column;
  }

  footer .footer{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}