@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-font: #212121;
  --color-body-bg: #ffffff;
  --color-body-header: #ffffff;
  --color-prf: #f2f4f8;
  --color-prf2: #c4c4c4;
  --akcent: #4E50FF;
  --red: #db0049;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-font: #212121;
    --color-body-bg: #ffffff;
    --color-body-header: #ffffff;
    --color-prf: #f2f4f8;
    --color-prf2: #c4c4c4;
    --akcent: #4E50FF;
    --red: #db0049;
    }
}

*{
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

html, body{
  margin: 0px;
}

main{
  min-height: 80vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
a{
  color: var(--color-font);
}
main.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main.centered img{
  max-width: 400px;
  width: 100%;
}
main a.bt, main button{
  background-color:  var(--akcent);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  width: 100%;
  max-width: 200px;
  text-align: center;
}
main .duo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
main .duo.r{
  flex-direction: row-reverse;
}
main .duo.b{
  justify-content: space-between;
}
main .duo img{
  width: 400px;
}
main .mini{
  font-size: 12px;
  opacity: 0.6;
}
main .full{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main hr{
  background-color: #c4c4c4;
  height: 1px;
  border: none;
  width: 100%;
}

main .spisok{
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
main .spisok .desc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
main .spisok button{
  background-color: rgb(255, 0, 76);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
}
main .spisok .cart{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
}
main .spisok .cart img{
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 15px;
  border: 2px solid transparent;
  width: 240px;
  max-height: 240px;
}

main .spisok .cart .panel{
  display: flex;
  gap: 10px;
}

main .panelinfo{
  width: 400px;
}



@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

form.login-form{
  max-width: 400px;
}

/*#region мобильный адаптив*/
@media (max-width: 899px) {
  body{
    padding: 50px 0px 50px 0px;
    font-size: 14px;
  }
  main.centered img{
    max-width: 300px;
    width: 100%;
  }
  main img{
    max-width: 200px;
    width: 100%;
  }
  main .duo{
    flex-direction: column;
  }
  main .duo.r{
    flex-direction: column;
  }
  .rews{
    display: flex;
  }
  footer .footer{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
/*#endregion Мобильный адаптив*/